body{ 
    background: url(../assets/images/greek-vase.png) no-repeat center center fixed;
    background-repeat: repeat;
}

.container{
    background-color: #ffffff;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 20px;
}

h3{
    color:  #4aaaa5;
    border-bottom: 3px solid #777777;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}